API_PORT=3000
JWT_SECRET=asmdfbasldkasdhfdsf
JWT_EXPIRED_TIME=1d

NODE_ENV=development
FRONTEND_URL=http://localhost:5173

SUPERADMIN_EMAIL=ilyosbekibroximov23@gmail.com
SUPERADMIN_PASSWORD=12345678
VERSION=v1

DATABASE_URL=mongodb://localhost:27017,localhost:27018,localhost:27019/?replicaSet=rs0&readPreference=primary
MONGODB_URI=mongodb://localhost:27017,localhost:27018,localhost:27019/?replicaSet=rs0&readPreference=primary

MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads

PDF_STORAGE_PATH=./storage/pdfs

REDIS_HOST=localhost
REDIS_PORT=6379